.formulario,
.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.formulario-container {
  margin-top: 10vh;
  justify-content: flex-start;
}

.formulario-principal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  background-color: #1f1c1c;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  min-width: 320px;
}

.input {
  padding: 10px 14px;
  color: #c5c5c5;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #1f1c1c;
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.button {
  padding: 10px 14px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
}

.button:hover {
  background-color: #0056b3;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #c5c5c5;
  font-weight: bold;
}

.botones {
  display: flex;
  gap: 10px;
}

.button-cancelar {
  padding: 10px 14px;
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cancelar:hover {
  background-color: #b02a37;
}