.formulario-usuarios {
  display: flex;
  max-width: 800px;
  height: 40px;
  margin: 50px auto 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.boton-añadir{
  padding: 10px 20px;
  background-color: #55a354;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(45, 45, 45, 0.6);
}

.boton-añadir:hover{
  background-color: #3c753b;
}

.input-usuarios {
  flex: 1;
  padding: 0 15px;
  border: none;
  font-size: 16px;
  outline: none;
}

.lista-usuarios {
  list-style: none;
  padding: 40px;
  margin: 20px;
  border: solid 2px #ababab;
  border-radius: 10px;
  height: 500px;
  max-width: 800px;
  width: 100%;
  background-color: #f0f0f0;
  overflow-y: auto;
  margin: 0 auto;
}

.usuario-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.usuario-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.usuario-item button:first-of-type:hover {
  background-color: #d0eaff;
}

.usuario-item button:last-of-type:hover {
  background-color: #ffd0d0;
}

.info-usuario {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.detalles-usuario {
  display: flex;
  flex-wrap: wrap;
}

.acciones-usuario {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nombre-item {
  width: 300px;
}

.info-item {
  width: 100px;
}

.ahorro-item {
  margin-right: 2vw;
}

@media (max-width: 840px) {
  .formulario-usuarios {
    flex-direction: column;
    height: auto;
    max-width: 90vw;
    gap: 10px;
    padding: 10px;
  }

  .boton-añadir {
    box-shadow: none;
    margin-top: 10px;
  }

  .info-item {
    display: none;
  }

  .nombre-item,
  .info-item:first-child {
    display: block;
    width: 100%;
    font-size: 14px;
  }

  .lista-usuarios {
    padding: 15px;
    max-width: 90vw;
  }
}