* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}

.encabezado {
  background-color: #76cfdf;
  padding: 10px;
  border-bottom: 2px solid #333;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 10vh;
  width: 100%;
}

.contenedor-encabezado {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.titulo {
  display: flex;
  align-items: center;
  gap: 1.0rem;
}

.barra {
  font-size: 2rem;
  color: #888;
}

.subtitulo {
  font-size: 1.1rem;
}

.contenedor-encabezado ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.contenedor-encabezado li {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
}

.contenedor-encabezado li:hover {
  background-color: #dedede;
  border-radius: 8px;
}

.botonCierre {
  font-size: 20px;
  border: none;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
}

.botonCierre:hover {
  background-color: #ee4848;
  border-radius: 8px;
}

.botonEditar {
  margin-right: 30px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
}

.botonEditar:hover {
  background-color: #dedede;
  border-radius: 8px;
}

.boton-cancelar {
  padding: 10px 14px;
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-cancelar:hover {
  background-color: #b02a37;
}

.hamburguesa {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  .botones-encabezado {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    padding: 1rem 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #333;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .botones-encabezado.mostrar {
    display: flex;
  }

  .botonCierre,
  .botonEditar {
    width: 85%;
    text-align: center;
    margin: 5px 0;
  }
}
.titulo-grupo {
  font-size: 2.8rem;
  margin: 20px 0;
  color: #333;
  text-align: center;
  font-weight: bold;
}